# {{ repo_name }}

A [repolish](https://github.com/hotdog-werx/repolish) provider.

## Usage

Add this provider to your project's `repolish.yaml`:

```yaml
providers:
  {{ repo_name }}:
    cli: {{ repo_name }}-link
```
