from pydantic import BaseModel

from repolish import BaseContext


class {{ context_class }}(BaseContext):
    """Context for the {{ class_name }}."""


class {{ inputs_class }}(BaseModel):
    """Inputs for the {{ class_name }}.

    Fields declared here can be populated by other providers via
    ``provide_inputs`` and delivered to this provider's ``finalize_context``.
    """
